{%extends 'base.html' %}
{% block content %}
<div class="artist-view-box">
    {%if artist.image_back %}
    <img class="artist-backImg" src="{{artist.image_back.url}}">
    {%endif%}
    <div class="artist-view-row">
        <div class="artist-view-name">{{artist.name}}</div>
        <div class="artist-view-desc">{{artist.desc}}</div>
        <div class="artist-view-voteCnt"><span
                style="font-size: 60px; font-weight: 500;">{{artist.like_users.count}}</span> 명이 투표했어요
        </div>
        {%if voted %}
        <button class="artist-view-btn">
            이미 투표하셨어요
        </button>
        {%else%}
        <a href="{%url 'artistVote' artist.name %}">
            <button class="artist-view-btn">
                투표하기
            </button>
        </a>
        {%endif%}
    </div>

</div>
<h3>댓글을 남겨주세요</h3>

{% endblock %}