<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Logo */
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}?v=1.1">
    <title>We Make Festival</title>
</head>

<body>
    <nav class="nav-bar">
        <a class="logo-box" href="{%url 'home' %}">
            <img class="logo-img" src="{%static 'images/logo.jpg' %}" alt='logo' ">
            <div class=" logo-word">
            We Make
            <br>
            Festival
            </div>
        </a>
        <div class=" user-box">
            {% if user.is_authenticated %}
            <a class="user-logout" href="{%url 'logout' %}">logout</a>
            <a href="{%url 'mypage' %}">
                <img style="width: 50px; height: 50px; border-radius: 70%;" src="{%static 'images/baseimage.jpg' %}">
            </a>
            {% else %}
            <a class="user-login" href="{%url 'login' %}">login</a>
            <a class="user-signup" href="{%url 'signup' %}">signup</a>
            {% endif %}
        </div>
    </nav>
    <main>
        <div class="artist-view-box">
            <img class="artist-backImg" src="{%static 'images' %}/{{artist.image_back_url}}">
            <div class="artist-view-row">
                <div class="artist-view-name">{{artist.name}}</div>
                <div class="artist-view-desc">{{artist.desc}}</div>
                <div class="artist-view-voteCnt"><span
                        style="font-size: 60px; font-weight: 500;">{{artist.like_users.count}}</span> 명이 투표했어요
                </div>
                {%if voted %}
                <button class="artist-view-btn">
                    이미 투표하셨어요
                </button>
                {%else%}
                <a href="{%url 'artistVote' artist.name %}">
                    <button class="artist-view-btn">
                        투표하기
                    </button>
                </a>
                {%endif%}
            </div>

        </div>
        <h3>댓글을 남겨주세요</h3>
        {%for comment in comments %}
        <h3>{{comment.text}}</h3>
        <h3>{{comment.author.username}}</h3>
        {%endfor %}
        <form action="{%url 'addComment' artist.name %}" method="post">
            {%csrf_token%}
            <input class="comment-text" type="text" name="text" placeholder="댓글을 남겨주세요" st>
            <button class="comment-btn" type="submit">추가</button>
        </form>
    </main>
</body>