{%extends 'base.html' %}

{% block content %}
<div class="login-box">
    <div class="">로그인 후 원하는 무대를 직접 꾸며보세요!</div>
    <form class="login-form" action="{%url 'login' %}" method="post">
        {%csrf_token%}
        {%for field in form %}
        <div class="form-group">
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                placeholder="{{ field.label }}" name="{{ field.name }}" />
        </div>
        {%endfor %}
        <input class="form-submit" type="submit" value="로그인">
    </form>
</div>
{% endblock %}