{%extends 'base.html' %}

{% block content %}
<div class="profile-row">
    <div style="margin-top: 20px; height: 60px; font-size: 32px;">나의 프로필 ></div>
</div>
<div class="profile-row">
    <div class="profile-box">
        {%if user.image %}
        <img class="profile-img" src="{{user.image.url}}">
        {%endif%}
        <div class="profile-detail" style="text-align: center;">{{user.username}}</div>
    </div>
    <div class="profile-box">
        <div class="profile-detail">이메일: {{user.email}}</div>
        <div class="profile-detail">학교: {{user.university}}</div>
    </div>
</div>

<div class="profile-row">
    <div style="margin-top: 20px; height: 60px; font-size: 32px;">나의 투표 현황 보기 ></div>
</div>
<div class="profile-row">
    <div style="height: 48px; font-weight: 400;">총 {{user.like_artists.count}}명에게 투표했어요</div>
</div>
<div class="artist-list">
    {%for artist in like_artists %}
    <a class="artist-box" href="{%url 'artistView' artist.name %}">
        <img class="artist-img" src="{{artist.image.url}}">
        <div>{{artist.name}}</div>
    </a>
    {%endfor%}
</div>
{% endblock %}