.artist-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px
}

.artist-img {
    border-radius: 50%;
    width: 232px;
    height: 232px;
    margin: 10px 0;
}