.home-banner-img {
    width: 100%;
    min-width: 1300px;
    min-height: 420px;
    margin: 0 auto;
}

.home-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
}

.artist-list {
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
}

.artist-header {
    padding-left: 36px;
    font-size: 28px;
}

a.artist-header:hover {
    text-decoration: underline;
}