.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 20px;
}

.logo-img {
    width: 80px;
    height: 80px;
}


.user-box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.user-logout,
.user-login,
.user-signup {
    margin: 20px;
}